<%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Profile Details </h2>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <br>
  <div>
    <%= form.label :image %>
    <%= form.file_field :avatar %>
  </div>
  <br>
  <div>
    <%= form.label :job_title, style: "display: block" %>
    <%= form.text_field :job_title %>
  </div>

  <div>
    <%= form.label :expereince, style: "display: block" %>
    <%= form.text_field :expereince %>
  </div>

  <div>
    <%= form.label :overview, style: "display: block" %>
    <%= form.text_field :overview %>
  </div>

  <div>
    <%= form.label :highlight, style: "display: block" %>
    <%= form.text_field :highlight %>
  </div>

  <div>
    <%= form.label :primary_skill, style: "display: block" %>
    <%= form.text_field :primary_skill %>
  </div>

  <div>
    <%= form.label :secondary_skill, style: "display: block" %>
    <%= form.text_field :secondary_skill %>
  </div>
  
  <h2>Experience</h2>
  <div>
    <%= form.label :company, style: "display: block" %>
    <%= form.text_field :company %>
  </div>

  <div>
    <%= form.label :position, style: "display: block" %>
    <%= form.text_field :position %>
  </div>

  <div>
    <%= form.label :start, style: "display: block" %>
    <%= form.date_field :start %>
  </div>

  <div>
    <%= form.label :end, style: "display: block" %>
    <%= form.date_field :end %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>
  <h2>Project</h2>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>

  <div>
    <%= form.label :tech_stack, style: "display: block" %>
    <%= form.text_field :tech_stack %>
  </div>

  <div>
    <%= form.label :project_des, style: "display: block" %>
    <%= form.text_field :project_des %>
  </div>

  <h2>Education</h2>
  <div>
    <%= form.label :school, style: "display: block" %>
    <%= form.text_field :school %>
  </div>

  <div>
    <%= form.label :degree, style: "display: block" %>
    <%= form.text_field :degree %>
  </div>

  <div>
    <%= form.label :beg, style: "display: block" %>
    <%= form.text_field :beg %>
  </div>

  <div>
    <%= form.label :last, style: "display: block" %>
    <%= form.text_field :last %>
  </div>

  <div>
    <%= form.label :edu_des, style: "display: block" %>
    <%= form.text_field :edu_des %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
