<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Job title:</strong>
    <%= profile.job_title %>
  </p>

  <p>
    <strong>Expereince:</strong>
    <%= profile.expereince %>
  </p>

  <p>
    <strong>Overview:</strong>
    <%= profile.overview %>
  </p>

  <p>
    <strong>Highlight:</strong>
    <%= profile.highlight %>
  </p>

  <p>
    <strong>Primary skill:</strong>
    <%= profile.primary_skill %>
  </p>

  <p>
    <strong>Secondary skill:</strong>
    <%= profile.secondary_skill %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= profile.company %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= profile.position %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= profile.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= profile.end %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= profile.description %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= profile.title %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= profile.url %>
  </p>

  <p>
    <strong>Tech stack:</strong>
    <%= profile.tech_stack %>
  </p>

  <p>
    <strong>Project des:</strong>
    <%= profile.project_des %>
  </p>

  <p>
    <strong>School:</strong>
    <%= profile.school %>
  </p>

  <p>
    <strong>Degree:</strong>
    <%= profile.degree %>
  </p>

  <p>
    <strong>Beg:</strong>
    <%= profile.beg %>
  </p>

  <p>
    <strong>Last:</strong>
    <%= profile.last %>
  </p>

  <p>
    <strong>Edu des:</strong>
    <%= profile.edu_des %>
  </p>

</div>
